@model StudentListDto
<hr />
<a class="btn btn-outline-primary"
   asp-area="Admin"
   asp-controller="Student"
   asp-action="Create">Yeni Öğrenci Ekle</a>
<hr />
<table class="table table-bordered shadow-lg">
    <thead class="bg-success bg-opacity-10 ">
        <tr>
            <th>Id</th>
            <th>Fotoğraf</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Cinsiyet</th>
            <th>Ders Alanı</th>
            <th>İşlemler</th>

        </tr>
    </thead>
    <tbody >
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.Id</td>
                <td><img src="/images/@student.ImageUrl" width="100" /></td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.Gender</td>
                <td>
                    <ul>
                        @foreach (var category in student.StudentCategories)
                        {
                            <li>@category.Category.Name</li>
                        }
                    </ul>
                </td>

                <td>
                    <a class="btn btn-warning btn-sm"
                   asp-area="Admin"
                   asp-controller="Student"
                   asp-action="Edit"
                   asp-route-id=@student.Id>Düzenle</a>

                    <a class="btn btn-danger btn-sm"
                   asp-area="Admin"
                   asp-controller="Student"
                   asp-action="Delete"
                   asp-route-id=@student.Id>Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

