@using EducationApp.Web.Models
@model List<CategoryDto>

<div class="col-2">
    @await Component.InvokeAsync("Categories")

</div>
@*<style>
    .renk {
        background-color: #45bc45;
    }
</style>

<nav class="nav nav-pills flex-column flex-sm-row mb-3 renk">
    <a class="flex-sm-fill text-sm-center nav-link text-white"
       aria-current="page"
       asp-controller="Student"
       asp-action="Index"
       asp-route-categoryurl="">Tümünü göster</a>

    @foreach (var category in Model)
    {
        <a class="flex-sm-fill text-sm-center nav-link text-white"
       asp-controller="Student"
       asp-action="Index"
       asp-route-categoryurl="@category.Url">@category.Name</a>
    }

    <hr />

</nav>
*@


@*<div class="list-group">
    <a class="list-group-item list-group-item-action @(ViewBag.SelectedCategory==null ? "active" : "")"
       asp-controller="Student"
       asp-action="Index"
       asp-route-categoryurl="">Tümünü Göster</a>

    @foreach (var category in Model)
    {
        <a class="list-group-item list-group-item-action @(ViewBag.SelectedCategory==category.Url ? "active" : "")"
       asp-controller="Student"
       asp-action="Index"
       asp-route-categoryurl=@category.Url>@category.Name</a>

        <ul class="">
            @foreach (var subCategory in category.SubCategory)
            {
                <li class="">@subCategory.Name</li>
            }
        </ul>
    }
</div>


*@