@model TeacherListDto
<hr />
<a class="btn btn-outline-primary"
   asp-area="Admin"
   asp-controller="Teacher"
   asp-action="Create">Yeni Öğretmen Ekle</a>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fotoğraf</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Cinsiyet</th>
            <th>Şehir</th>
            <th>Ders Verme Şekli</th>
            <th>Ders Alanı</th>
            <th>İşlemler</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in Model.Teachers)
        {
            <tr>
                <td>@teacher.Id</td>
                <td><img src="/images/@teacher.ImageUrl" width="100" /></td>
                <td>@teacher.FirstName</td>
                <td>@teacher.LastName</td>
                <td>@teacher.Gender</td>
                <td>@teacher.City</td>
                <td>@teacher.LessonPlace</td>
                <td>
                    <ul>
                        @foreach (var category in teacher.TeacherCategories)
                        {
                            <li>@category.Category.Name</li>
                        }
                    </ul>
                </td>

                <td>
                    <a class="btn btn-warning btn-sm"
                   asp-area="Admin"
                   asp-controller="Teacher"
                   asp-action="Edit"
                   asp-route-id=@teacher.Id>Düzenle</a>

                    <a class="btn btn-danger btn-sm"
                   asp-area="Admin"
                   asp-controller="Teacher"
                   asp-action="Delete"
                   asp-route-id=@teacher.Id>Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
