@using BlogApp.Entities.Dtos;
@using BlogApp.Shared.Utilities.Result.ComplexTypes;

@model ArticleListDto
@{
    Layout = "_Layout";
    ViewBag.Title = "Makaleler Anasayfa";
}

@if (Model.ResultStatus == ResultStatus.Success)
{
   
    <h1 class="mt-4">Admin Makaleler</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Makaleler</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Makaleler
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="articlesTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Başlık</th>
                            <th>İçerik</th>
                            <th>Kategori</th>
                            <th>Görüntülenme Sayısı</th>
                            <th>Yorum Sayısı</th>
                            <th>Oluşturulma Tarihi</th>
                            <th>Oluşturan Kullanıcı</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var article in Model.Articles)
                        {
                            <tr>
                                <td>@article.Id</td>
                                <td>@article.Title</td>
                                <td>@article.Content</td>
                                <td>@article.Category</td>
                                <td>@article.ViewsCount</td>
                                <td>@article.CommentCount</td>
                                <td>@article.Date.ToShortDateString()</td>
                                <td>@article.User</td>
                               
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>


}

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#categoriesTable').DataTable({

                dom: "<'row'<'col-sm-3'l><'col-sm-6 text-center'B><'col-sm-3'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                buttons: [
                    {
                        text: 'Ekle',
                        attr: {
                            id: 'btnAdd'
                        },
                        action: function (e, dt, node, config) {

                        },
                        className: 'btn btn-success'
                    },
                    {
                        text: 'Yenile',
                        action: function (e, dt, node, config) {
                            alert('Yenile butonuna tıklandı');
                        },
                        className: 'btn btn-warning'
                    }
                ],
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/tr.json'
                }
            });
            //Datatable burada bitiyor
            $(function () {
                const url = '@Url.Action("Add","Category")';
                const placeHolderDiv = $('#modalPlaceHolder');
                $('#btnAdd').click(function () {
                    $.get(url).done(function (data) {
                        placeHolderDiv.html(data);
                        placeHolderDiv.find(".modal").modal('show');
                    });
                });
            });
        });
    </script>
}
